@page
@model AstroBackEnd.Pages.zodiac.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Zodiac</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zodiac.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zodiac.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zodiac.ZodiacDayStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zodiac.ZodiacDayStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zodiac.ZodiacMonthStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zodiac.ZodiacMonthStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zodiac.ZodiacDayEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zodiac.ZodiacDayEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zodiac.ZodiacMonthEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zodiac.ZodiacMonthEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zodiac.Icon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zodiac.Icon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zodiac.Descreiption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zodiac.Descreiption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zodiac.MainContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zodiac.MainContent)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Zodiac.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
