@page
@model AstroBackEnd.Pages.zodiac.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zodiac[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zodiac[0].ZodiacDayStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zodiac[0].ZodiacMonthStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zodiac[0].ZodiacDayEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zodiac[0].ZodiacMonthEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zodiac[0].Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zodiac[0].Descreiption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zodiac[0].MainContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Zodiac) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZodiacDayStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZodiacMonthStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZodiacDayEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZodiacMonthEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descreiption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainContent)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
