@page
@model AstroBackEnd.Pages.planet.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Planet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Planet.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Planet.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Planet.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Planet.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Planet.Icon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Planet.Icon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Planet.Decription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Planet.Decription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Planet.Tag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Planet.Tag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Planet.MainContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Planet.MainContent)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Planet.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
