@page
@model AstroBackEnd.Pages.planet.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Planet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Planet.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Planet.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Planet.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Planet.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Planet.Icon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Planet.Icon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Planet.Decription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Planet.Decription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Planet.Tag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Planet.Tag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Planet.MainContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Planet.MainContent)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Planet.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
